@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
* {
  margin: 0px 0px;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
}

body {
  color: #fff;
  background: rgb(19, 19, 19);
  position: relative;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.telegram {
  width: 20px;
  height: 20px;
  background-image: url(/img/svg/telegram.svg);
}

.viber {
  width: 20px;
  height: 20px;
  background-image: url(/img/svg/viber.svg);
}

.whatsapp {
  width: 20px;
  height: 20px;
  background-image: url(/img/svg/whatsapp.svg);
}

header {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}
header .after-logo {
  max-width: 165px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}
header .header__logo {
  width: 140px;
  height: 24px;
  left: 0px;
  top: 11px;
  background: url(/img/svg/logo_welbex.svg) no-repeat;
  margin-right: 52px;
  margin-top: 11px;
  z-index: 3;
}
header .header__nav > * {
  margin-top: 0px;
  padding-top: 11px;
}
header .header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header__nav .header__link {
  width: 503px;
  display: flex;
  justify-content: space-between;
}
header .header__nav .header__link a {
  color: #e4e5ea;
}
header .header__nav .contacts {
  display: flex;
}
header .header__nav .mess {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-left: 47px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content .gradient {
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.content .content__start {
  font-size: 48px;
  font-family: "Inter";
  font-weight: 400;
}
.content .content__start .content__start_header {
  width: 362px;
}
.content .content__start .content__start_header-max {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.content .content__start .content__start_text {
  width: 275px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.content .content__end {
  text-align: right;
}
.content .content__end .content__end_container {
  max-width: 330px;
}
.content .content__end .content__end_items {
  justify-content: end;
  display: flex;
  flex-wrap: wrap;
}
.content .content__end .content__end_items .content__end_item-text {
  font-size: 14px;
  line-height: 20px;
}
.content .content__end .content__end_items .content__end_item-header {
  font-size: 18px;
  line-height: 22px;
}
.content .content__end .content__end_items .content__end_item {
  max-width: 135px;
  margin-top: 30px;
}
.content .content__end .content__end_items .content__end_item:nth-child(odd) {
  margin-right: 30px;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 61px 0;
}
.btn-field .btn {
  width: 262px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-field .btn p {
  padding: 21px 34px 21px 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footer .footer-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.footer .footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}
.footer .footer__base-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 23px;
}
.footer .footer__base-info .footer__about-and-menu {
  display: flex;
  flex-wrap: wrap;
}
.footer .footer__base-info .footer__about {
  margin-right: 98px;
}
.footer .footer__base-info .footer__nemu {
  display: flex;
  flex-direction: column;
}
.footer .footer__base-info .footer__nemu .inline {
  display: flex;
}
.footer .footer__base-info .footer__nemu .inline div:first-child {
  margin-right: 52px;
}
.footer .footer__base-info .footer__contacts {
  text-align: right;
}
.footer .footer__base-info .footer__contacts .mess {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.licenzie {
  text-align: right;
  color: #e4e5ea;
}/*# sourceMappingURL=index2.css.map */
